onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=better-sqlite3
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=rollup
rollup-build-from-source=true
